.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  top: 50%;
  left: 50%;
}

#formContent {
  margin-top: 10px;
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  padding-bottom: 10px;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  background-color: #f0f0f0;
  border: none;
  color: #0d0d0d;
  padding: 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 95%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #0072bc;
  border: none;
  color: white;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

/*
-webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  */
