.buttonContainer {
  margin: 10px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
